<%= form_for(lostandfound) do |f| %>
  <div id="contact-form" class="clearfix">
    <% if lostandfound.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lostandfound.errors.count, "error") %> prohibited this lostandfound from being saved:</h2>

        <ul>
        <% lostandfound.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


      <div class="form-inputs">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="form-inputs">
        <%= f.label :item %>
        <%= f.text_field :item %>
      </div>


      <div class="form-inputs">
        <%= f.label :foundlocation %>
        <%= f.text_field :foundlocation %>
      </div>

      <div class="form-inputs">
        <%= f.label :foundtime %>
        <%= f.datetime_select :foundtime %>
      </div>

      <div class="form-inputs">
        <%= f.label :notes %>
        <%= f.text_area :notes %>
      </div>

        <div class="form-inputs">
        <%= f.label "Lost or Found?" %>
        <%= f.select(:lostorfound, options_for_select([["Lost", true], ["Found", false]]))%>
      </div>

      <div class="form-inputs">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>

      <div class="card__icons">
          <img src="/assets/pic.png"> 
          <img src="/assets/url.png">  
          <img src="/assets/audio.png">  
      </div>
    <div class="form-actions">
      <%= f.submit "Submit!", :id => "submit-button", :type => "submit" %>
    </div>

        <%= link_to 'Back', trading_posts_path %>

  </div>
<% end %>
