<p id="notice"><%= notice %></p>

<h1>Lost & Found</h1>

<body>
  <center>
 <% @lostandfounds.each do |lostandfound| %>
  <div class="card">
    <div class="card-content">
        Title: <%= lostandfound.title %>
        <br>
        Item: <%= lostandfound.item %>
        <br>
        Location Found: <%= lostandfound.foundlocation %>
        <br>
        When did you find it:<%= lostandfound.foundtime %>
        <br>
        Notes: <%= lostandfound.notes %>
        <br>
        <%= link_to 'Show', lostandfound %>
        <%= link_to 'Edit', edit_lostandfound_path(lostandfound) %>
        <%= link_to 'Destroy', lostandfound, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <br>
  <br>
  <%end%>
</center>
</body>

