<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lostandfound.title %>
</p>

<p>
  <strong>Item:</strong>
  <%= @lostandfound.item %>
</p>


<p>
  <strong>Foundlocation:</strong>
  <%= @lostandfound.foundlocation %>
</p>

<p>
  <strong>Foundtime:</strong>
  <%= Common.readable_timestamps(@lostandfound.foundtime) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @lostandfound.notes %>
</p>


<% if owner?(@lostandfound.user_id) %>
<%= link_to 'Edit', edit_lostandfound_path(@lostandfound) %> |
<% end %>
<%= link_to 'Back', lostandfounds_path %> |
<%= link_to "Contact", new_email_path(owner: @lostandfound.user_id, post_id: @lostandfound, type: "lostandfound") %>

