
    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <center> 
            <%= image_tag @user.avatar.url(:medium) %>
            <h1><strong> <%= @user.username%></strong></h1>
            <%= render 'layouts/adminify' %>
          </center> 
          </header>
        </div>

        <!-- Main -->
          <section id="main">
            <div class="row">
              <div class="col-md-3">
                <% if @user.events.any? %>
                  <h3>Events (<%= @user.events.count %>)</h3>
                  <ol class="events">
                    <%= render @events %>
                  </ol>
                <% end %>
              </div>
                <div class="col-md-3">
                <% if @user.rides.any? %>
                  <h3>Rides (<%= @user.rides.count %>)</h3>
                  <ol class="rides">
                    <%= render @rides %>
                  </ol>
                <% end %>
              </div>
                <div class="col-md-3">
                <% if @user.lostandfounds.any? %>
                  <h3>Lostandfounds (<%= @user.lostandfounds.count %>)</h3>
                  <ol class="lostandfounds">
                    <%= render @lostandfounds %>
                  </ol>
                <% end %>
              </div>
               <div class="col-md-3">
                <% if @user.trading_posts.any? %>
                  <h3>Trading Posts (<%= @user.trading_posts.count %>)</h3>
                  <ol class="trading_posts">
                    <%= render @user.trading_posts %>
                  </ol>
                <% end %>
              </div>
            </div>
          </section>


<% provide(:title, @user.username) %>

<!-- Add Avatar/Change Avatar -->
<%# image_tag @user.avatar.url %>
<%# image_tag @user.avatar.url(:medium) %>
<%# image_tag @user.avatar.url(:thumb) %>
  <!-- If admin then show link_to add_admin -->


<h5> My Favorites:  <h5> 
<div class="favorites"> 
  <% @user.saves.each do |save| %>
    <% event = Event.find(save.saveable_id) %> 
    <%= link_to event.title, event %>
    <% end %> 
</div> 
<br> <br> <br> 


<div class="navbottombuttons">
<%= link_to 'Back', users_path %>   
<% if current_user?(@user) %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "Are you sure? This will delete all of your posts as well." } %>
<% end %>
</div>
