<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>

<!-- Add Avatar/Change Avatar -->
<%# image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%# image_tag @user.avatar.url(:thumb) %>

<h3> <%= @user.username %>  
  <!-- If admin then show link_to add_admin -->

<div class="row">
  <div class="col-md-4">
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
    <% end %>
  </div>
    <div class="col-md-4">
    <% if @user.rides.any? %>
      <h3>Rides (<%= @user.rides.count %>)</h3>
      <ol class="rides">
        <%= render @rides %>
      </ol>
    <% end %>
  </div>
    <div class="col-md-4">
    <% if @user.lostandfounds.any? %>
      <h3>Lostandfounds (<%= @user.lostandfounds.count %>)</h3>
      <ol class="lostandfounds">
        <%= render @lostandfounds %>
      </ol>
    <% end %>
  </div>
</div>


<h5> My Favorites:  <h5> 
<div class="favorites"> 
  <% @user.events.each do |event| %>
    <%= link_to event.title, event %>
    <% end %> 
</div> 
<br> <br> <br> 


<div class="navbottombuttons">
<%= link_to 'Back', users_path %>   
<% if current_user?(@user) %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "Are you sure? This will delete all of your posts as well." } %>
<% end %>
</div>
