<p id="notice"><%= notice %></p>
<%= link_to "Calendar View", "calendars#index" %>
        <!- Sorting ->
<div>
  Sort by:
  <!- Sets params[:sorting] according which button is clicked ->
  <%= link_to 'Yesterday\'s Events', events_path(:sorting => 'yesterday')%> | 
  <%= link_to 'Today\'s Events', events_path(:sorting => 'today')%> | 
  <%= link_to 'Tommorrow\'s Events', events_path(:sorting => 'tomorrow')%> |
  <%= link_to 'This Week\'s Events', events_path(:sorting => 'week')%>
  <!- Button to clear params[:sorting] ->
  <%= link_to 'Clear sorting', events_path(:sorting => nil)%>
</div>

<!- end of sorting ->
<%= render 'layouts/feed', posts: @events %>

