<p id="notice"><%= notice %></p>


<h1> Events </h1>
  <center> <%= link_to "Calendar View", "calendars#index" %></center>


<!-- <h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.startdate %></td>
        <td><%= Event.time_offset(event.enddate) %></td>
        <td><%=link_to "GO HERE", event.link %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->
<body>
  <center>
  <% @events.each do |event| %>
    <div class="card">
      <div class="card-content">
        Title: <%= event.title %>
        <br>
        Location: <%= event.location %>
        <br>
        Description: <%= event.description %>
        <br>
        Start: <%= Event.time_offset(event.startdate) %>
        <br>
        End: <%= Event.time_offset(event.enddate) %>
        <br>
        Event Link: <%=link_to "GO HERE", event.link %>
        <br>
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <br>
    <br>
  <% end %> 
</center>
</body

