<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= Common.readable_timestamps(@event.startdate) %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= Common.readable_timestamps(@event.enddate) %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<%= link_to like_event_path(@event), method: :put do %>
  Upvote
  <%= @event.get_upvotes.size %>
<% end %>

<%= link_to dislike_event_path(@event), method: :put do %>
  Downvote
  <%= @event.get_downvotes.size %>
<% end %>

<% if owner?(@event.user_id) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %> |
<%= link_to "Contact", new_email_path(owner: @event.user_id, post_id: @event, type: "event") %>

