<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= Common.readable_timestamps(@event.startdate) %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= Common.readable_timestamps(@event.enddate) %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<% if owner?(@event.user_id) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
