<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- http://guides.rubyonrails.org/form_helpers.html#a-generic-search-form A GREAT RESOURCE FOR FIELD INFORMATION -->

<!-- http://apidock.com/rails/v4.2.1/ActionView/Helpers/FormHelper/form_for -->


<!-- I NEED TO HAVE MICRO-POSTS ... posts/rides
                                ... posts/events
                                ... posts/lost
                               -->
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %><br>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :startdate %>
    <%= f.datetime_select :startdate, :required => true %>
    <br>
    <%= f.label :enddate %>
    <%= f.datetime_select :enddate, :required => true %>
    <br>
  </div>

    <div class="field">
    <%= f.label :link %>
    <%= f.url_field :link %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit!" %>
  </div>
<% end %>
