<p id="notice"><%= notice %></p>


<h1>Posts</h1>
<center>
      
      <% @posts.each do |post| %>
      <br>
      <!-- http://stackoverflow.com/questions/3137393/rails-add-a-line-break-into-a-text-area -->
      <div class="card">
      <%=h(Post.print_attributes(post)).gsub(/\n/, '<br/>').html_safe %>
       <%= link_to "Show", post %>
      <% if post.is_a?(Event) %>
        <%=link_to "Edit", edit_event_path(post) %>
        <% elsif post.is_a?(Ride) %>
          <%= link_to "Edit", edit_ride_path(post) %>
        <% else %>
          <%= link_to "Edit", edit_lostandfound_path(post) %>
        <%end%>
       <%= link_to "Destroy", post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <br>
     </div>
      <%end%>
      <br>
      <%end%>
    </center>
      <!-- create new fields in db with
      rails generate scaffold add_FIELD_to_TABLE FIELD:FIELDTYPE
      remove fields in db with 
      rails generate scaffold remove_FIELD_from_TABLE FIELD:FIELDTYPE

      
       -->





