<p id="notice"><%= notice %></p>


<h1>Posts</h1>

  Sort by: <br>
  <!- Sets params[:sorting] according which button is clicked ->
  <%= link_to 'Yesterday\'s Posts', posts_path(:sorting => 'yesterday')%> | 
  <%= link_to 'Today\'s Posts', posts_path(:sorting => 'today')%> | 
  <%= link_to 'Tommorrow\'s Posts', posts_path(:sorting => 'tomorrow')%> |
  <%= link_to 'This Week\'s Posts', posts_path(:sorting => 'week')%>
  <!- Button to clear params[:sorting] ->
  <%= link_to 'Clear sorting', posts_path(:sorting => nil)%>
<center>
  <% if @posts.present? %>
      <% @posts.each do |post| %>
      <br>
      <!-- http://stackoverflow.com/questions/3137393/rails-add-a-line-break-into-a-text-area -->
      <div class="card">
      <%=h(Post.print_attributes(post)).gsub(/\n/, '<br/>').html_safe %>
       <%= link_to "Show", post %>
       <% if current_user && current_user.id == post.user_id %>
      <% if post.is_a?(Event) %>
        <%=link_to "Edit", edit_event_path(post) %>
        <% elsif post.is_a?(Ride) %>
          <%= link_to "Edit", edit_ride_path(post) %>
        <% else %>
          <%= link_to "Edit", edit_lostandfound_path(post) %>
        <%end%>
       <%= link_to "Destroy", post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <%end %>
       <br>
     </div>
      <%end%>
<% else %>
  <% if params[:search] %>
  <h4> There are no posts containing the term: <%= params[:search] %> </h4>
  <%end%>
  <h4> No posts yet </h4>
<% end %>
      <br>
    </center>





