<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>StartDate:</strong>
  <%= @post.startdate %>
</p>

<p>
  <strong>EndDate:</strong>
  <%= @post.enddate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p> Link:
  <%= @post.link %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
