<%= form_for(ride) do |f| %>
<div id="contact-form" class="clearfix">
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-inputs'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-inputs">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <div class="form-inputs">
    <%= f.label :origin %>
    <%= f.text_field :origin %>
  </div>

  <div class="form-inputs">
    <%= f.label :time %>
    <%= f.datetime_select :time, {}, {:class => 'option-large'} %>
  </div>

  <div class="form-inputs">
    <%= f.label :role %>
    <%= f.select(:role, options_for_select([['Offering a Ride', "Driver"], ['Looking for a Ride', "Rider"]])) %>
  </div>

  <div class="form-inputs">
    <%= f.label :seats %>
    <%= f.select(:seats, options_for_select(0..10)) %>
  </div>


  <div class="form-inputs">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="card__icons">
      <img src="/assets/pic.png"> 
      <img src="/assets/url.png">  
      <img src="/assets/audio.png">  
  </div>

    <div class="form-actions">
      <%= f.submit "Submit!", :id => "submit-button", :type => "submit" %>
    </div>

        <%= link_to 'Back', rides_path %>


</div>
<% end %>



