<p id="notice"><%= notice %></p>
<h1>Rides</h1>

        <!- Sorting ->
<div>
  Sort by:
  <!- Sets params[:sorting] according which button is clicked ->
  <%= link_to 'Date', rides_path(:sorting => 'time')%> | 
  <%= link_to 'Available Seats', rides_path(:sorting => 'seats')%> | 
  <%= link_to 'Driving/Riding', rides_path(:sorting => 'role')%> | 
  <!- Button to clear params[:sorting] ->
  <%= link_to 'Clear sorting', rides_path(:sorting => nil)%>
</div>

<!- end of sorting ->

<%= render 'layouts/feed', posts: @rides %>

