<p id="notice"><%= notice %></p>

<h1>Rides</h1>


<body> 
  <center>
  <% @rides.each do |ride| %>
      <div class='card'>
        <div class="card-content">
          Where to? <%=ride.destination%>
          <br>
          From where? <%=ride.origin%>
          <br>
          When? <%=ride.when%>
          <br> 
          Role: <%=ride.role%>
          <br>
          Notes: <%=ride.notes %>
          <br>
          <%= link_to "Show", ride %>
          <%= link_to "Edit", edit_ride_path(ride) %>
          <%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <br> 
      <br> 
    <%end%>
</center>

</body>



