<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @ride.destination %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @ride.origin %>
</p>

<p>
  <strong>When:</strong>
  <%= Common.readable_timestamps(@ride.when) %>
</p>

<p>
  <strong>Role:</strong>
  <%= @ride.role %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @ride.notes %>
</p>

<p>
  <strong>Seats Available:</strong>
  <%= @ride.seats %>
</p>



<% if owner?(@ride.user_id) %>
  <%= link_to 'Edit', edit_ride_path(@ride) %> |
<% end %>
<%= link_to 'Back', rides_path %>
<%= link_to "Contact", new_email_path(owner: @ride.user_id) %>
