  <div class="navHeader">
    <h1>WesAdmits</h1>
    <h2>2017-2020</h2>
      <div class="rightbar">
    <img src="/assets/search.png"  width="25" height="25" align="top"> 
    <img src="/assets/notification.png"  width="25" height="25" align="top"> 
    <img src="/assets/profile.png"  width="25" height="25" align="top"> 
  </div>
  </div>


  <div class="links">
    <%= link_to "http://www.wesleyan.edu" do %>
      <%= image_tag "/assets/wesedu.png", width: 25, height: 25, alt: "Wesleyan Home Page"%>
    <% end %> 
    <%= link_to "https://sso.wesleyan.edu/" do %>
      <%= image_tag "/assets/eport.png", width: 25, height: 25, alt: "EPortfolio" %>
    <% end %> 
   <%= link_to "https://moodle.wesleyan.edu/" do %>
      <%= image_tag "/assets/moddle_icon-128.png", width: 25, height: 25, alt: "Moodle" %>
    <% end %> 
  </div>