<div class="navigation">
  <div class="aside">
    <ul>
      <li>
        <%= link_to root_url do %>
          <%= image_tag "/assets/all_icon.png", width: 40, height: 40, alt: "All Posts" %> All
          <% end %> 
      </li>
      <li> 
        <%= link_to events_url do %>
        <%= image_tag "/assets/events.png", width: 40, height: 40, alt: "All Events", align: "top" %> Events
        <% end %> 
       </li>
       <li> 
        <%= link_to rides_url do %>
        <%= image_tag "/assets/car_icon.png", width: 40, height: 40, alt: "All Rides", align: "top" %> Rides
        <% end %> 
       </li>
       <li> 
          <%= link_to lostandfounds_url do %>
          <%= image_tag "/assets/lost&found.png", width: 40, height: 40, alt: "All L&F", align: "top" %> Lost&Found
          <% end %> 
       </li>
       <li> 
          <%= link_to trading_posts_url do %>
          <%= image_tag "/assets/sell&borrow.png", width: 40, height: 40, alt: "All Buying and Selling", align: "top" %> Buying&Selling
          <% end %> 
       </li>
       <li>
        <%= link_to root_url do %>
          <%= image_tag "/assets/events.png", width: 40, height: 40, alt: "All Random", align: "top" %> Random
          <% end %> 
       </li>
    </ul>
  </div>
</div>