<!DOCTYPE html>
<html>
  <head>
    <title>WesAdmits</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless current_page?('/pages/home') %>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/newpostbuttons' %>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
        <%= debug(params.inspect) if Rails.env.development? %>
      </div>
    </div>
    <% end %>
    
  </body>

</html>
